[PATH]
config=./networks/N4_V1.spec
load=./experiments/N4_V1/network
data=./dataset/ISBI2012/spec/batch
save=./experiments/N4_V1/output
hist=

[OPTIMIZE]
n_threads=64
force_fft=1
optimize_fft=0

[TRAIN]
test_range=1
outsz=100,100,1
softmax=1

[MONITOR]
check_freq=5
test_freq=100

[SCAN]
offset=0,0,0
dim=0,0,0
weight_idx=0
force_load=1
outname=out
