[PATH]
config=./networks/VeryDeep2_w109.spec
load=./experiments/VeryDeep2_w109/network/
data=dataset/fish/spec/batch
save=./experiments/VeryDeep2_w109/output/
hist=

[OPTIMIZE]
n_threads=40
force_fft=1
optimize_fft=0

[TRAIN]
test_range=1-3
outsz=100,100,1
softmax=1
mirroring=0

[MONITOR]
check_freq=10
test_freq=100

[SCAN]
offset=0,0,0
dim=0,0,0
cutoff=1
weight_idx=0
outname=out
