[PATH]
config=./networks/VGG_L9.spec
load=./experiments/VGG_L9/network/
data=dataset/fish/spec/batch
save=./experiments/VGG_L9/output/
hist=

[OPTIMIZE]
n_threads=40
force_fft=1
optimize_fft=0

[TRAIN]
test_range=91-92
outsz=100,100,1
softmax=1
mirroring=0

[MONITOR]
check_freq=10
test_freq=100

[SCAN]
offset=0,0,0
dim=0,0,0
weight_idx=0
outname=out
