[PATH]
config=./networks/Deep_N4.spec
load=./experiments/Deep_N4/network/
data=dataset/fish/spec/batch
save=./experiments/Deep_N4/output/
hist=

[OPTIMIZE]
n_threads=40
force_fft=1
optimize_fft=0

[TRAIN]
test_range=92
outsz=200,200,1
softmax=1
mirroring=0

[MONITOR]
check_freq=10
test_freq=100

[SCAN]
offset=0,0,0
dim=0,0,0
weight_idx=0
outname=out
