[PATH]
config=./networks/VGG_ILSVRC_16_layers_V1.spec
load=
data=./dataset/fish/spec/data.affinity.
save=./experiments/VGG_ILSVRC_16_layers_V1/network

[OPTIMIZE]
n_threads=64
force_fft=0
optimize_fft=1

[TRAIN]
train_range=1-2
test_range=3
outsz=80,80,10
dp_type=affinity
cost_fn=binomial_cross_entropy
data_aug=1
cls_thresh=0.5
softmax=1
mirroring=1

[UPDATE]
force_eta=0.01
anneal_factor=0.996
anneal_freq=100
momentum=0.9
wc=0
minibatch=1
norm_grad=0
rebalance=0

[MONITOR]
n_iters=1000000
check_freq=10
test_freq=100
test_samples=10

[SCAN]
scanner=volume
offset=0,0,0
dim=0,0,0
weight_idx=0
force_load=0
out_filter=1
outname=out
subname=
