[PATH]
config=./networks/jingpeng.spec
load=
data=./dataset/fish/spec/batch
save=./experiments/jingpeng/network/

[OPTIMIZE]
n_threads=40
force_fft=0
optimize_fft=1

[TRAIN]
train_range=1-3
test_range=91
outsz=80,80,1
dp_type=volume
cost_fn=binomial_cross_entropy
softmax=1
data_aug=1

[UPDATE]
force_eta=0.01
anneal_factor=0.996
anneal_freq=100
momentum=0.9
wc=0
minibatch=1
norm_grad=1
rebalance=1

[MONITOR]
n_iters=200000
check_freq=10
test_freq=100
test_samples=10

[SCAN]
scanner=volume
offset=0,0,0
dim=0,0,0
weight_idx=0
outname=out
