[PATH]
config=./networks/VeryDeep2_w109.spec
load=
data=./dataset/fish/spec/batch
save=./experiments/VeryDeep2_w109/network/

[OPTIMIZE]
n_threads=80
force_fft=0
optimize_fft=1

[TRAIN]
train_range=1-6
test_range=7-8
outsz=80,80,1
dp_type=volume
cost_fn=cross_entropy
softmax=1

[UPDATE]
force_eta=0.01
anneal_factor=0.997
anneal_freq=100
momentum=0.9
wc=0
minibatch=1
norm_grad=0
rebalance=0

[MONITOR]
n_iters=1000000
check_freq=10
test_freq=100
test_samples=10

[SCAN]
scanner=volume
offset=0,0,0
dim=0,0,0
weight_idx=0
outname=out
