[PATH]
config=./networks/VeryDeep2_w109.spec
load=./experiments/VeryDeep2_w109/network/
data=./dataset/fish/spec/batch
save=./experiments/VeryDeep2_w109/network_10nm/

[OPTIMIZE]
n_threads=40
force_fft=0
optimize_fft=1

[TRAIN]
train_range=21-23
test_range=24
outsz=60,60,1
dp_type=volume
cost_fn=binomial_cross_entropy
softmax=1
force_load=1
data_aug=1

[UPDATE]
force_eta=0.002
anneal_factor=0.997
anneal_freq=100
momentum=0.9
wc=0
minibatch=1
norm_grad=1
rebalance=1

[MONITOR]
n_iters=300000
check_freq=10
test_freq=100
test_samples=10

[SCAN]
scanner=volume
offset=0,0,0
dim=0,0,0
weight_idx=0
outname=out
